/* main Weather Css */

.flexContainer {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  padding: 1vh;
}

.btnGrados {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #48545f;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #ffffff;
  font-size: 3vh;
  cursor: pointer;
}

.btnGrados:hover {
  background-color: #ffffff;
  color: #03192e;
}

.FlexContainerSubtitle {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: 1vh;
}

.FlexContainerInfo {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 1vh;
}
